.post-container {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 300px;
  background-color: #d5d5d5;
  padding: 10px;
}

.image-container {
  width: 100%; 
  height: 200px;
  background-Color: blue;
}

.image-container img {
  width: 100%;
  height: 200px;
}

.post-info-container {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  height: fit-content;
}

.post-info-container p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
}

.ans-Btn {
  margin-top: 5px;
  width: 50px;
  background-Color: #ff9e9e;
  padding: 5px 10px;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-Decoration: none;
}