.dropdownList .link {
  height: calc(100% / 5px);
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.borderBottom {
  border-bottom: 1px solid #000000;
}

.dropdownList a img {
  width: 15px;
  margin-right: 10px;
}

.dropdownList a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownList {
  display: block;
}

.dropdownList .active {
  opacity: 1;
    visibility: visible;
    transform: translateY(0);
}